In [5]:
import pandas as pd
prices = pd.read_csv('Downloads/data/sample_prices.csv')

In [6]:
prices

      BLUE   ORANGE
0   8.7000  10.6600
1   8.9055  11.0828
2   8.7113  10.7100
3   8.4346  11.5907
4   8.7254  12.1070
5   9.0551  11.7876
6   8.9514  11.2078
7   9.2439  12.5192
8   9.1276  13.3624
9   9.3976  14.4080
10  9.4554  11.9837
11  9.5704  12.2718
12  9.7728  11.5892

In [9]:
returns= prices.pct_change()
returns*100

        BLUE     ORANGE
0        NaN        NaN
1   2.362069   3.966229
2  -2.180675  -3.363771
3  -3.176334   8.223156
4   3.447704   4.454433
5   3.778623  -2.638143
6  -1.145211  -4.918728
7   3.267645  11.700780
8  -1.258127   6.735255
9   2.958061   7.824942
10  0.615051 -16.826069
11  1.216236   2.404099
12  2.114854  -5.562346

In [15]:
returns.mean()

BLUE      0.01
ORANGE    0.01
dtype: float64

In [17]:
returns.var()

BLUE      0.000575
ORANGE    0.006336
dtype: float64

In [18]:
returns.std()

BLUE      0.023977
ORANGE    0.079601
dtype: float64